body {
    margin: 0px;
    height: 100vh;
    background: #1283da;
}

.center {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-input {
    width: 350px;
    padding: 20px;
    background: white;
    box-shadow: -3px 3px 7px rgba(94, 104, 121, 0.377), -3px 3px 7px rgba(94, 104, 121, 0.377);
    border-radius: 5px;
}

.form-input img {
    width: 100%;
    margin-bottom: 30px;
    display: none;
    

}

.form-input label {
    display: block;
    width: 45%;
    height: 45px;
    margin-left: 25%;
    text-align: center;
    background: #1172c2;
    line-height: 45px;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
}

.form-input input {
    display: none;
    

}